doctype html
html(ng-controller="RootController")
  head
    meta(charset="UTF-8")

    each val in ["styles/font-awesome.min.css", "styles/popup.css"]
      link(rel="stylesheet", href=val)

  body
    header#header
      ul#menu
        li
          a(ui-sref="channels", ui-sref-active="active") Chaines
        li
          a(ui-sref="schedules", ng-class="{ 'active': $state.includes('schedules') }") Planning
        li
          a(ui-sref="settings", ui-sref-active="active") Préférences
        li
          a(ui-sref="about", ui-sref-active="active") A propos

    main#content(ui-view)

    each val in ["kango-ui/kango_api.js", "scripts/lib/lodash.min.js", "scripts/lib/jquery.min.js", "scripts/lib/angular.min.js", "scripts/lib/angular-ui-router.min.js", "scripts/lib/ng-context-menu.min.js", "scripts/lib/jquery.unveil.js", "scripts/glanning.js", "scripts/popup.js"]
      script(src=val)
