section
  fieldset
    legend Vous avez une suggestion ou trouvé un bug ?
    p
      | Vous avez une idée révolutionnaire et vous souhaitez que cette extension en bénéficie ou bien trouvé un bug nuisant au bon fonctionnement de celle-ci ?
    p
      a.button(href="https://chrome.google.com/webstore/detail/adnlmnncmbmhafafemkpjifmoechngde/support", open-tab)
        i.fa.fa-bug
        | &nbsp; Support officiel

  fieldset
    legend Faites un don
    p
      | Vous souhaitez aider l'humble développeur que je suis ?
      br
      | Faites donc un don, les fonds serviront pour mes futurs projets.
    p
      | Vous êtes déjà géniaux de me faire confiance en utilisant cette extension.
    p
      a.button(href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=GV6DDRQ8UA8S6", open-tab)
        i.fa.fa-gift
        | &nbsp; Faire un don

  fieldset
    legend Partager
    p
      | Vous aimez cette extension et vous voulez la faire connaître à vos amis ?
      br
      | N'hésitez pas à partager votre découverte sur les réseaux sociaux.
    ul.social-share
      li
        a.button(href="https://twitter.com/intent/tweet?text=Je%20reste%20inform%C3%A9(e)%20de%20tout%20ce%20qui%20se%20passe%20sur%20%40GamingLive%20gr%C3%A2ce%20%C3%A0%20cette%20formidable%20extension%2C%20venez%20l%27essayer%20!&url=http%3A%2F%2Fglanning.seldszar.fr", open-tab, title="Partager sur Twitter")
          i.fa.fa-twitter
          | &nbsp; Twitter
      li
        a.button(href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fglanning.seldszar.fr", open-tab, title="Partager sur Facebook")
          i.fa.fa-facebook
          | &nbsp; Facebook
      li
        a.button(href="https://plus.google.com/share?url=http%3A%2F%2Fglanning.seldszar.fr", open-tab, title="Partager sur Google+")
          i.fa.fa-google-plus
          | &nbsp; Google+

  //-
    fieldset
      legend Informations techniques
      p
        | Version: 
        strong 1.0.0
        br
        | Branche de publication: 
        strong master
        br
        | Date de publication: 
        strong 14 février 2015 à 14:02
