section.block-list
  ul
    li.channel.with-chevron(ng-repeat="channel in channels | orderBy:['-favorite', '-status.viewers', 'name'] track by channel.id", context-menu, data-target="channel-context-menu-{{ ::channel.id }}", open-tab="{{ ::channel.url }}", ng-class="{ 'offline': !channel.status.online, 'favorite': channel.favorite }", ng-if="settings.channels.showOffline || channel.status.online")
      .actions(open-tab-ignore)
        a(ng-click="favorite(channel)")
          i.fa(ng-class="{ 'fa-star': channel.favorite, 'fa-star-o': !channel.favorite }")

      .thumbnail(ng-if="settings.channels.showThumbnail", ng-class="{ 'small': settings.channels.smallThumbnail }")
        img(src="images/channel-placeholder.png", data-ng-src="{{ ::channel.thumbnail }}", alt="{{ ::channel.name }}")

      .body
        dl
          dt {{ ::channel.name }}
          dd {{ channel.status.online ? '' : 'hors ligne' }}
            ng-pluralize(ng-if="channel.status.online", count="channel.status.viewers", when="{'0': 'aucun spectateur', '1': '1 spectateur', 'other': '{} spectateurs'}")
          dd(ng-if="settings.channels.showEmission && channel.status.event", title="{{ ::channel.status.event.name }}") {{ ::channel.status.event.name }}

      ul.context-menu(id="channel-context-menu-{{ ::channel.id }}", open-tab-ignore)
        li
          a(ng-click="favorite(channel)")
            i.fa.fa-fw(ng-class="{ 'fa-star': !channel.favorite, 'fa-star-o': channel.favorite }")
            | &nbsp; {{ channel.favorite ? 'Retirer des favoris' : 'Mettre en favoris' }}
        li
          a.disabled(ng-if="!channel.schedule.length")
            i.fa.fa-fw.fa-calendar-o
            | &nbsp; Voir le planning
          a(ng-if="channel.schedule.length", ui-sref="schedules.show({ id: channel.id })")
            i.fa.fa-fw.fa-calendar-o
            | &nbsp; Voir le planning
        li.separator
        li
          a.disabled(ng-if="!channel.status.source.videoUrl")
            i.fa.fa-fw.fa-video-camera
            | &nbsp; Vidéo seule
          a(ng-if="channel.status.source.videoUrl", open-tab="{{ ::channel.status.source.videoUrl }}")
            i.fa.fa-fw.fa-video-camera
            | &nbsp; Vidéo seule
        li
          a.disabled(ng-if="!channel.status.source.chatUrl")
            i.fa.fa-fw.fa-comments
            | &nbsp; Chat seul
          a(ng-if="channel.status.source.chatUrl", open-tab="{{ ::channel.status.source.chatUrl }}")
            i.fa.fa-fw.fa-comments
            | &nbsp; Chat seul
