<div context-menu data-target="channel-context-menu-{{ channel._id }}" open-tab="{{ channel.url }}" class="channel" ng-class="{ offline: !channel.online }" ng-if="$root.settings.channels.showOffline || channel.online" ng-repeat-start="channel in channels | orderBy:['-isFavorite', '-viewers', 'name']">
    <div class="left">
        <div class="thumbnail" ng-show="$root.settings.channels.showThumbnail">
            <img src="img/channel-placeholder.png" ng-src="{{ channel.thumbnail }}" alt="{{ channel.name }}">
        </div>
    </div>
    <div class="body">
        <dl>
            <dd class="viewers" ng-if="!channel.online">Hors ligne</dd>
            <dd class="viewers" ng-if="channel.online">{{ channel.viewers }} spectateurs</dd>
            <dt class="name">{{ channel.name }}</dt>
            <dd class="title" ng-show="$root.settings.channels.showEmission && channel.event">{{ channel.event.title }}</dd>
        </dl>
    </div>
    <ul class="actions" open-tab-ignore>
        <li>
            <a ng-click="favorite(channel)"><i class="fa" ng-class="{ 'fa-star-o': !channel.isFavorite, 'fa-star': channel.isFavorite }"></i></a>
        </li>
        <li class="show-on-hover">
            <a ng-click="share(channel)"><i class="fa fa-share-alt"></i></a>
        </li>
    </ul>
</div>
<ul ng-repeat-end class="context-menu" id="channel-context-menu-{{ channel._id }}">
    <li>
        <a ng-if="!channel.isFavorite" ng-click="favorite(channel)"><i class="fa fa-fw fa-star"></i>&nbsp; Mettre en favoris</a>
        <a ng-if="channel.isFavorite" ng-click="favorite(channel)"><i class="fa fa-fw fa-star-o"></i>&nbsp; Retirer des favoris</a>
    </li>
    <li>
        <a ng-click="share(channel)"><i class="fa fa-fw fa-share-alt"></i>&nbsp; Partager</a>
    </li>
    <li>
        <a ng-if="!channel.schedule.length" class="disabled"><i class="fa fa-fw fa-calendar-o"></i>&nbsp; Voir le planning</a>
        <a ng-if="channel.schedule.length" ui-sref="schedule.show({ type: channel.type, id: channel._id })"><i class="fa fa-fw fa-calendar-o"></i>&nbsp; Voir le planning</a>
    </li>
    <li class="separator"></li>
    <li>
        <a open-tab="{{ channel.videoUrl }}"><i class="fa fa-fw fa-video-camera"></i>&nbsp; Vidéo seule</a>
    </li>
    <li>
        <a open-tab="{{ channel.chatUrl }}"><i class="fa fa-fw fa-comments"></i>&nbsp; Chat seul</a>
    </li>
</ul>
