<div class="padded">
    <h3>Chaînes</h3>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="settings.channels.showThumbnail">
            <span>Afficher les miniatures des chaînes</span>
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="settings.channels.showEmission">
            <span>Afficher l'emission en cours</span>
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="settings.channels.showOffline">
            <span>Afficher les chaînes hors-ligne</span>
        </label>
    </div>
    <h3>Planning</h3>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="settings.schedule.highlightCurrent">
            <span>Mettre en évidence l'émission en cours de diffusion</span>
        </label>
    </div>
    <h3>Notifications</h3>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="settings.notifications.enabled">
            <span>Activer les notifications</span>
        </label>
    </div>
    <div class="subfield">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="settings.notifications.favoritesOnly" ng-disabled="!settings.notifications.enabled">
                <span>Notifier uniquement les favoris</span>
            </label>
        </div>
    </div>
</div>
