<div class="padded">
    <h3>Vous avez une suggestion ou trouvé un bug ?</h3>
    <p>
        Vous avez une idée révolutionnaire et vous souhaitez que cette extension en bénéficie ou bien trouvé un bug nuisant au bon fonctionnement de celle-ci ?
    </p>
    <p>
        <a href="https://chrome.google.com/webstore/detail/adnlmnncmbmhafafemkpjifmoechngde/support" open-tab class="button"><i class="fa fa-bug"></i>&nbsp; Support officiel</a>
    </p>
    <h3>Faites un don</h3>
    <p>
        Vous souhaitez aider l'humble développeur que je suis ?<br>
        Faites donc un don, les fonds serviront pour mes futurs projets.
    </p>
    <p>
        Vous êtes déjà géniaux de me faire confiance en utilisant cette extension.
    </p>
    <p>
        <a href="#" open-tab class="button"><i class="fa fa-gift"></i>&nbsp; Faire un don</a>
    </p>
    <h3>Partager</h3>
    <p>
        Vous aimez cette extension et vous voulez la faire connaître à vos amis ?<br>
        N'hésitez pas à partager votre découverte sur les réseaux sociaux.
    </p>
    <ul class="social-share">
        <li>
            <a href="https://twitter.com/intent/tweet?text=Je+reste+inform%C3%A9%28e%29+gr%C3%A2ce+%C3%A0+l%27extension+%23GamingLive%2C+venez+l%27essayer+%21&url=https%3A%2F%2Fchrome.google.com%2Fwebstore%2Fdetail%2Fadnlmnncmbmhafafemkpjifmoechngde" open-tab title="Partager sur Twitter"><i class="fa fa-twitter-square" open-tab></i></a>
        </li>
        <li>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fchrome.google.com%2Fwebstore%2Fdetail%2Fadnlmnncmbmhafafemkpjifmoechngde" open-tab title="Partager sur Facebook"><i class="fa fa-facebook-square" open-tab></i></a>
        </li>
        <li>
            <a href="https://plus.google.com/share?url=https%3A%2F%2Fchrome.google.com%2Fwebstore%2Fdetail%2Fadnlmnncmbmhafafemkpjifmoechngde" open-tab title="Partager sur Google+"><i class="fa fa-google-plus-square" open-tab></i></a>
        </li>
    </ul>
    <p class="copyright">
        Gaming Live et le logo Gaming Live sont des marques déposées. Tous droits réservés. Cette application n'a pas de lien officiel avec Gaming Live.
    </p>
</div>
