<div class="padded">
    <h3>Vous avez une suggestion ou trouvé un bug ?</h3>
    <p>
        Vous avez une idée révolutionnaire et vous souhaitez que cette extension en bénéficie ou bien trouvé un bug nuisant au bon fonctionnement de celle-ci ?
    </p>
    <p>
        <a href="https://chrome.google.com/webstore/detail/adnlmnncmbmhafafemkpjifmoechngde/support" open-tab class="button"><i class="fa fa-bug"></i>&nbsp; Support officiel</a>
    </p>
    <h3>Faites un don</h3>
    <p>
        Vous souhaitez aider l'humble développeur que je suis ?<br>
        Faites donc un don, les fonds serviront pour mes futurs projets.
    </p>
    <p>
        Vous êtes déjà géniaux de me faire confiance en utilisant cette extension.
    </p>
    <p>
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=GV6DDRQ8UA8S6" open-tab class="button"><i class="fa fa-gift"></i>&nbsp; Faire un don</a>
    </p>
    <h3>Partager</h3>
    <p>
        Vous aimez cette extension et vous voulez la faire connaître à vos amis ?<br>
        N'hésitez pas à partager votre découverte sur les réseaux sociaux.
    </p>
    <ul class="social-share">
        <li>
            <a href="https://twitter.com/intent/tweet?text=Je%20reste%20inform%C3%A9(e)%20de%20tout%20ce%20qui%20se%20passe%20sur%20Gaming%20Live%20gr%C3%A2ce%20%C3%A0%20cette%20formidable%20extension%2C%20venez%20l%27essayer%20!&url=https%3A%2F%2Fchrome.google.com%2Fwebstore%2Fdetail%2Fadnlmnncmbmhafafemkpjifmoechngde" open-tab title="Partager sur Twitter"><i class="fa fa-twitter-square" open-tab></i></a>
        </li>
        <li>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fchrome.google.com%2Fwebstore%2Fdetail%2Fadnlmnncmbmhafafemkpjifmoechngde" open-tab title="Partager sur Facebook"><i class="fa fa-facebook-square" open-tab></i></a>
        </li>
        <li>
            <a href="https://plus.google.com/share?url=https%3A%2F%2Fchrome.google.com%2Fwebstore%2Fdetail%2Fadnlmnncmbmhafafemkpjifmoechngde" open-tab title="Partager sur Google+"><i class="fa fa-google-plus-square" open-tab></i></a>
        </li>
    </ul>
    <p class="copyright">
        &copy; Copyright 2014 <a href="http://seldszar.fr" open-tab>Seldszar</a><br>
        Gaming Live et le logo Gaming Live sont des marques déposées
    </p>
</div>
