<div class="event" ng-repeat="event in schedule" ng-init="isOpen = $root.settings.schedule.highlightCurrent && event.is_current" ng-click="isOpen = !isOpen" ng-class="{ current: $root.settings.schedule.highlightCurrent && event.is_current }">
    <dl>
        <dd class="date">{{ event.start | date:'shortTime' }} - {{ event.end | date:'shortTime' }}</dd>
        <dt class="title">
            <i class="fa" ng-class="{ 'fa-caret-down': !isOpen, 'fa-caret-up': isOpen }"></i>
            {{ event.title }}
        </dt>
        <dd class="description" ng-show="isOpen">{{ event.description }}</dd>
    </dl>
</div>
