@primary-color: #323844;
@secondary-color: #ddd;

@body-bg: #323844;
@body-color: contrast(@body-bg);

@content-bg: #fff;
@content-color: #323844;

@context-menu-bg: lighten(@content-bg, 5%);
@context-menu-color: @content-color;

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('../fonts/opensans-semibold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/opensans-bold-webfont.woff') format('woff');
}

body {
    background-color: @body-bg;
    color: @body-color;
    cursor: default;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: 500;
    height: 540px;
    letter-spacing: -.03em;
    line-height: 13px;
    margin: 0;
    padding: 0;
    position: relative;
    user-select: none;
    width: 400px;
}

a {
    color: @primary-color;
    text-decoration: none;

    &:hover {
        color: saturate(@primary-color, 10%);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .5em;
    text-transform: uppercase;
}

.button {
    background-color: @primary-color;
    border-radius: 3px;
    color: contrast(@primary-color);
    display: inline-block;
    padding: 8px 14px;
    text-transform: uppercase;
    transition: all .2s;

    &.small {
        padding: 6px 10px;
    }

    &:hover {
        background-color: lighten(@primary-color, 10%);
        color: contrast(@primary-color);
    }

    &.secondary {
        background-color: @secondary-color;
        color: contrast(@secondary-color);

        &:hover {
            background-color: lighten(@secondary-color, 10%);
            color: contrast(@secondary-color);
        }
    }
}

fieldset {
    border: 0;
    margin: 0 0 10px;
    padding: 0;

    &:first-child {
        margin-top: 0;
    }

    fieldset {
        margin-top: 0;
        padding-left: 20px;

        & > * {

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

legend {
    &:extend(h3);

    border-bottom: 1px solid darken(@content-bg, 10%);
    font-weight: bold;
    margin: 0;
    padding: 0 0 5px 0;
    text-transform: uppercase;
    width: 100%;
}

.radio,
.checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;

    label {
        min-height: 20px;
        padding-left: 20px;
        margin-bottom: 0;
        cursor: pointer;
    }

    input {

        &[type="checkbox"],
        &[type="radio"] {
            display: none;

            & + span {

                &:before {
                    color: darken(@primary-color, 5%);
                    font-family: FontAwesome;
                    font-size: 14px;
                    display: inline-block;
                    position: absolute;
                    margin-left: -20px;
                }
            }

            &:disabled {

                & + span {

                    &,
                    &:before {
                        opacity: .5;
                    }
                }
            }
        }
    }
}

.checkbox {

    input {

        &[type="checkbox"] {

            & + span {

                &:before {
                    content: "\f0c8";
                }
            }

            &:checked {

                & + span {

                    &:before {
                        content: "\f14a";
                    }
                }
            }
        }
    }
}

.radio {

    input {

        &[type="radio"] {

            & + span {

                &:before {
                    content: "\f111";
                }
            }

            &:checked {

                & + span {

                    &:before {
                        content: "\f192";
                    }
                }
            }
        }
    }
}

#header {
    margin-bottom: -1px;
    padding: 5px 5px 0;
    position: relative;
    z-index: 500;
}

#menu {
    align-items: stretch;
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    margin: 0;
    padding: 0;

    & > li {
        align-items: center;
        flex: 1 0 auto;

        /*
        &.logo {
            flex: initial;
            height: 32px;
            margin-right: 5px;

            img {
                height: 31px;
            }
        }
        */

        & > a {
            border-radius: 3px 3px 0 0;
            color: inherit;
            display: block;
            font-weight: bold;
            line-height: 32px;
            text-align: center;
            text-transform: uppercase;

            &.active {
                background-color: @content-bg;
                color: @content-color;
            }
        }
    }
}

#content {
    background-color: @content-bg;
    color: @content-color;
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: auto;
    position: relative;

    &::-webkit-scrollbar {
        height: 4px;
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: @primary-color;

        &:hover {
            background-color: lighten(@primary-color, 10%);
        }
    }
}

.context-menu {
    background-color: @context-menu-bg;
    border: 1px solid darken(@context-menu-bg, 10%);
    display: none;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: fixed;
    width: 140px;
    z-index: 10000;

    a {
        color: inherit;
        cursor: pointer;
        display: block;
        padding: 6px 12px;

        &:hover {
            background-color: @primary-color;

            &,
            .fa {
                color: contrast(@primary-color);
            }
        }

        &.disabled {
            background: transparent;
            cursor: default;
            opacity: .5;

            &,
            .fa {
                color: inherit;
            }
        }
    }

    .separator {
        border-top: 1px solid darken(@context-menu-bg, 10%);
        margin: 5px 6px;
    }

    &.open {
        display: block;
    }
}

section {
    margin: 1em 0;
    padding: 0 10px;
}

.block-list {
    margin: 0;
    padding: 0;

    & > ul {
        list-style: none;
        margin: 0;
        padding: 0;

        & > li {
            border-bottom: 1px solid darken(@content-bg, 10%);
            padding: 10px 15px;
            position: relative;

            &[ui-sref],
            &[open-tab] {
                cursor: pointer;

                &:hover {
                    background-color: darken(@content-bg, 2%);
                }
            }

            &.with-chevron {
                padding-right: 30px;

                &:after {
                    color: darken(@content-bg, 10%);
                    content: "\f054";
                    font-family: FontAwesome;
                    font-size: 12px;
                    line-height: 1;
                    position: absolute;
                    margin-top: -6px;
                    right: 15px;
                    top: 50%;
                }

                &:hover {

                    &:after {
                        color: @primary-color;
                    }
                }
            }


        }
    }
}

dl {
    margin: 0;
}

dt,
dd {
    display: block;
    line-height: 15px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:last-child {
        margin-bottom: 0;
    }
}

dt {
    font-weight: bold;
    text-transform: uppercase;
}

dd {
    color: lighten(@content-color, 50%);
}

/**
 * Channels
 */

.channel {
    display: flex;

    .actions,
    .thumbnail,
    .body {
        align-items: center;
        flex: 0 auto;
    }

    .actions,
    .thumbnail {
        margin: 0 11px 0 0;
    }

    .body {
        flex: 1 0;
    }

    .thumbnail {
        // background-color: @body-bg;
        // background-size: cover;
        border-radius: 3px;
        // display: block;
        height: 46px;
        overflow: hidden;
        // position: relative;
        width: 46px;

        img {
            max-width: 100%;
        }

        &.small {
            height: 30px;
            width: 30px;
        }
    }

    .actions {
        font-size: 16px;

        li {
            margin-bottom: 2px;

            &.show-on-hover {
                display: none;
            }
        }

        a {
            color: darken(@content-bg, 20%);
            display: block;
            text-align: center;
            width: 15px;

            &:hover {
                color: darken(@content-bg, 40%);
            }
        }
    }

    &.offline {

        .thumbnail {

            img {
                filter: grayscale(1);
                opacity: .25;
            }
        }
    }

    &.favorite {

        .actions {

            .fa-star {
                color: #ffac33;

                &:hover {
                    color: lighten(#ffac33, 10%);
                }
            }
        }
    }

    /*
    &:hover {

        .actions {

            li {

                &.show-on-hover {
                    display: block;
                }
            }
        }
    }
    */
}

/**
 * Schedule
 */

.event {
    box-shadow: inset 4px 0 0 darken(@content-bg, 10%);

    &.current {
        box-shadow: inset 4px 0 0 @primary-color;

        &:before {
            border: 4px solid transparent;
            border-left-color: @primary-color;
            content: "";
            display: block;
            left: 4px;
            position: absolute;
        }
    }
}

/**
 * Infos
 */

.social-share {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    zoom: 1;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    & > li {
        float: left;
        margin-left: 5px;
    }
}
